body {
    font-family: 'Dongle', sans-serif;
    padding: 0 20px;
    margin: 0;
    height: 700px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
}

#box-container {
    height: 100%;
    width: 100%;
    background-color: #6e6ef488;
}

#logo {
    width: 20em;
    padding: 12px 0 0;
    align-self: center;
}

#pokemons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10em 0;
    align-items: center;
    height: 80%;
    box-sizing: border-box;
}

#pokemon-1, #pokemon-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding-top: 40px;
}

#box1, #box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 230px;
}
#vs-img {
    width: 100px;
    object-fit: contain;
    align-self: center;
}

#wrapper, #wrapper-2 {
    max-width: 450px;
}
#wrapper #search-input, #wrapper-2 #search-input-2 {
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 0;
    box-shadow: 0px 1px 5px 3px rgb(0, 0, 0, 0.1);
    width: 100%;
    left: 0;
}
#caja1, #caja2 {
    width: 100%;
    height: 32px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 8px 20px 4px 4px;
    font-size: 28px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    font-family: 'Dongle';
}
#caja::placeholder {
    text-align: center;
}

#autocom-box, #autocon-box-2 {
    padding: 0;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}
#search-input.active #autocom-box, #search-input-2.active #autocom-box-2 {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}
#autocom-box li, #autocom-box-2 li {
    list-style: none;
    padding: 2px 8px 0;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    box-sizing: border-box;
    display: none;
}
#autocom-box li:hover, #autocom-box-2 li:hover {
    background-color: #efefef;
}
#search-input.active #autocom-box li, #search-input-2.active #autocom-box-2 li{
    display: block;
}
#icon, #icon2 {
    height: 24px;
    width: 20px;
    line-height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 16px;
    color: #4646c8;
    margin-right: 6x;
    padding-top: 4px;
    cursor: pointer;
}

#show-pokemon-name-1,#show-pokemon-name-2 {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 4px 12px;
    margin: 0 0 4px;
    color: black;
    width: 75px;
    text-align: center;
}

#types1, #types2 {
    height: 25px;
    display: flex;
    justify-content: center;
    margin: 12px 0;
    clear: none;
    width: 100%;
}
#types1 p:first-child, #types2 p:first-child {
    margin: 0;
}
#types1 p:nth-child(2), #types2 p:nth-child(2) {
    margin: 0 0 0 12px;
}
#types1 p:nth-child(2):empty, #types2 p:nth-child(2):empty {
    margin: 0px;
}
#types1,#types2 p::first-letter {
    text-transform: capitalize;
}

#type-pokemon-1-1, #type-pokemon-1-2, #type-pokemon-2-1, #type-pokemon-2-2 {
    text-align: center;
    border: 1px solid black;
    border-radius: 12px;
    padding: 2px 12px;
    width: 70px;
    color: white;
}
#type-pokemon-1-1:empty, #type-pokemon-1-2:empty, #type-pokemon-2-1:empty, #type-pokemon-2-2:empty {
    display: none;
}

h1 {
    color: white;
}

#img-1, #img-2 {
    border: 2px solid #c6c6ff;
    border-radius: 12px;
    background-color: #8C8CFF;
    object-fit: contain;
    width: 90px;
    height: 90px;
    padding: 6px;
}
#img-1[src=""], #img-2[src=""] {
    display: none;
}
#img-1 {
    margin-right: 20px;
}
#img-2 {
    margin-left: 20px;
}

#stats-1:empty, #stats-2:empty {
    display: none;
}
#stats-1, #stats-2 {
    margin: 0;
    list-style: none;
    text-align: center;
    font-weight: bold;
    border: 2px solid black;
    padding: 4px 8px;
    border-radius: 12px;
    background-color: white;
    height: 9em;
    width: 5em;
}